@import "var";
@import "responsive";


* {
  box-sizing: content-box;
}

.container-main {
  max-width: 990px;
  min-width: 990px;
  margin: auto;
  box-shadow: 0px 0px 120px 4px #00000014;
  overflow: hidden;
  padding: 0 10px;
}

@include responsive(t) {
  .container-main {
    max-width: 100%;
    min-width: auto;
    margin: 0;
    box-shadow: none;
    overflow: none;
    padding: 0;


  }

}

.row {
  width: 100%;
}

.container {
  max-width: 900px !important;
  padding: 25px !important;
}

@include responsive(min) {
  .container {
    max-width: 900px !important;
    padding: 10px !important;
  }
}

/* ******************** padding ********************* */
.pa-10-20 {
  padding: 10px 20px !important;
}

/* ******************** typography ********************* */

.txt-font-title {
  font-size: $font_title
}
.txt-font-small {
  font-size: $font_small
}

@include responsive(s) {
  .txt-font-title {
    font-size: $font_s_title
  }
  .txt-font-small {
    font-size: $font_s_small
  }
}

.dir-rtl {
  direction: rtl;
}

.txt-overflow {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.txt-overflow-line-2,
.txt_overflow_line_2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-black {
  color: $txt_black;
}

.txt-gray {
  color: $txt_gray;
}

.txt-white {
  color: $color_w !important;
}

.txt-second {
  color: $color_secondary !important;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}



/* ******************** bg btn ********************* */

.bg-color-second {
  color: $color_w !important;
  background-color: $color_secondary !important;
}

.c-pointer {
  cursor: pointer !important;
}

/* ******************** elem ********************* */

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90% !important;
}

.mw-calc-100-50 {
  max-width: calc(100% -50px) !important;
}

.max-w-500 {
  max-width: 500px !important;
}

.display-block {
  display: block !important;
}

.border-radius-20 {
  border-radius: $border_radius_default !important;
}

.border-radius-none {
  border-radius: 0px !important;
}

.bg-none {
  background: none !important;
}

.el-center {
  position: relative;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
}


.line-top-custom {
  margin: auto;
  width: 100px;
  background: $color_gray !important;
  border: 2px solid $color_gray !important;
  border-radius: 5px;
}


/************************** custom vuetify *************************/

.v-alert {
  position: fixed !important;
  top: 15% !important;
  width: 90% !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  opacity: 0.8;
}

.v-input__slot {
  &::before {
    border-color: $color_gray !important;
  }
}


/* ****************** carousel slider *********************** */
.v-slide-group__prev,
.v-slide-group__next {
  z-index: 1;
}

.slick-list {
  overflow: visible !important;
  contain: layout !important;
}

/* ****************** focus link cart *********************** */

.v-card--link {
  &::before {
    border-radius: $border_radius_default !important;
  }

  &:focus {

    border-radius: $border_radius_default !important;

  }

}
