@import "var";
@import "responsive";


/* ****************** header ********************** */
.header-custom {
  top: 30px !important;
  margin-top: 0px !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  width: 90% !important;
  // margin: 0 40px 0 40px;

  background: $color_w !important;
  max-width: 900px !important;
  height: 50px !important;
  box-shadow: $shadow_cart_org !important;
  z-index: 999;

  .v-toolbar__content {
    height: 50px !important;
  }

  .search {
    margin-left: 30px;
    font-size: $font_small;
    color: $txt_gray !important;

    .bold-search {
      margin-left: 10px;
      color: $color_secondary !important
    }
  }

  .input-custom {
    margin-left: 30px;

    &:focus-visible {
      outline: 0 !important;
    }
  }

}

.bg-light {
  background-color: $bg_light !important;
}


/* ****************** footer ********************** */
.footer-custom {
  bottom: 30px !important;
  margin-top: 0px !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  width: 90% !important;

  max-width: 900px !important;
  height: 50px !important;
  padding: 6px 16px !important;

  align-items: center;
  justify-content: space-between;
  background: transparent !important;

  z-index: 999;

  .bg {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 50% !important;
    transform: translate(-50%, 0) !important;


    background: $color_w !important;
    box-shadow: $shadow_cart_org !important;
    border-radius: 20px !important;

  }


}

a.nuxt-link-active , .default-color-nuxt-link {
  .svg {
      fill: $color_primary;
  }
}

a.nuxt-link-exact-active {
  .svg {
      fill: $color_secondary;
  }
}

.under-bg {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 120px;
  background: $linear_fade_content_bottom;
  z-index: 1;
}

/* ****************** home ********************** */
.home,
.blog {
  margin-top: 120px !important;
  padding: 0 !important;

}



/* ************** carousel **************** */
.slide-group-custom {
  background: $bg_light;

  .img-custom {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.two {
      position: relative;
      top: -50px;
      width: 90%;
      right: 0;
      left: 5%;
      border-radius: 20px;
      max-height: 200px;
    }
  }
}

.not-bg {
  background: transparent !important;
}

.v-slide-group__wrapper {
  overflow: visible !important;
  // contain: contain !important;
  contain: layout !important;
}

@include responsive(t) {
  .v-slide-group__wrapper {
    overflow: visible !important;
    contain: layout !important;
  }
}

.card-slid-custom {
  position: relative;
  border-radius: 20px !important;
  margin: 0 25px 0 0px !important;
  box-shadow: $shadow_cart_org !important;

}

.title-carousel {
  color: $txt_black;
  margin: 0 0 30px;
  font-size: 18px;
}

/* ************** carousel product one ******************* */
.card-info {
  position: absolute;
  top: 170px;
  width: 100%;
  font-size: 14px;


}

/* ************** carousel product two ******************* */

.card-info-two {
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 15px;



  .title {
    font-weight: bold !important;
    padding: 0;
  }

  .content {
    padding: 10px 0 0 !important;

  }
}

.v-avatar {
  &.avatar-custom {
    z-index: 1 !important;
    position: absolute;
    top: 37%;
    right: 1%;
    box-shadow: $shadow_red;
  }

}


/* ********************* blog *********************** */

.cart-blog {
  background: none !important;
  box-shadow: none !important;

  .username {
    position: absolute !important;
    left: 90px;
    top: -25px;
    letter-spacing: 1px;
  }

  .text-blog {
    line-height: 150%;
  }

  .info-blog{
    position: relative;
  }
}
.v-carousel__controls {
  background: linear-gradient(359deg, #000000bd, transparent) !important;
  border-radius: 0 0 $border_radius_default $border_radius_default !important;

}

.carousel-blog{
  border-radius: $border_radius_default !important;
  box-shadow: $shadow_image_org !important;
}

.avatar-blog {
  position: absolute!important;
  top: -35px;
  left: 20px;
  border-radius: $border_radius_default !important;
  border: 2px solid $color_w !important;
  box-shadow: $shadow_cart_org !important;
}
