@import "var";
@import "responsive";
@import "mixin";
@import "keyframes";


/* ****************** header ********************** */
.header-custom {
  top: 30px !important;
  margin-top: 0px !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  width: calc(100% - 50px);

  background: $color_w !important;
  max-width: 900px !important;
  height: 50px !important;
  box-shadow: $shadow_cart_org !important;
  z-index: 999;


  .v-toolbar__content {
    height: 50px !important;
  }

  .search {
    margin-left: 30px;
    font-size: $font_small;
    color: $txt_gray !important;
    width: 100% !important;


    .bold-search {
      margin-left: 10px;
      color: $color_secondary !important
    }
  }

  .input-custom {
    margin-left: 30px;
    width: 100% !important;

    &:focus-visible {
      outline: 0 !important;
    }
  }

}

.header-profile {
  background: none !important;
  box-shadow: none !important;

}

.bg-light {
  background-color: $bg_light !important;
}

@include responsive(min) {
  .header-custom {
    width: calc(100% - 20px);

    .search {
      margin-left: 10px;
      font-size: $font_s_txt;

    }

    .input-custom {
      margin-left: 10px;
    }




  }
}

/* ****************** footer ********************** */
.footer-custom {
  bottom: 30px !important;
  margin-top: 0px !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  width: calc(100% - 50px);


  max-width: 900px !important;
  height: 50px !important;
  padding: 6px 16px !important;

  align-items: center;
  justify-content: space-between;
  background: transparent !important;

  z-index: 999;

  .bg {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 50% !important;
    transform: translate(-50%, 0) !important;


    background: $color_w !important;
    box-shadow: $shadow_cart_org !important;
    border-radius: 20px !important;

  }


}

.footer-btn {
  display: flex !important;
  justify-content: center !important;

  .btn {
    position: absolute;
    color: white !important;
    height: 52px !important;
    width: 50% !important;
    background: $color_secondary !important;
    box-shadow: 0px 4px 35px 0px rgb(0 0 0 / 15%) !important;
    border-radius: 20px !important;

    .row-btn {
      display: flex;
      justify-content: space-evenly;
    }

    .info-price {
      height: 20px;
      position: relative;
      top: -10px;

      .price-dis {
        position: relative;
        font-size: 12px;
      }

      .price-finally {
        position: relative;
        font-size: 16px;
        display: block;
        font-weight: bold;
      }
    }

  }
}

a.nuxt-link-active,
.default-color-nuxt-link {
  .svg {
    fill: $color_primary;
  }
}

a.nuxt-link-exact-active {
  .svg {
    fill: $color_secondary;
  }
}

.under-bg {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 120px;
  background: $linear_fade_content_bottom;
  z-index: 1;
}

.top-bg {
  top: 0 !important;
  background: $linear_fade_content_top !important;


}

@include responsive(min) {
  .footer-custom {
    width: calc(100% - 20px);

    svg {
      width: 18px;
    }
  }
}

/* ****************** home ********************** */
.home,
.blog,
.profile,
.category {
  margin-top: 120px !important;
  padding: 0 !important;
}

/* ************** carousel **************** */
.slide-group-custom {
  background: $bg_light;
  padding: 0px !important;

  .img-custom {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.two {
      position: relative;
      top: -50px;
      width: 90%;
      right: 0;
      left: 5%;
      border-radius: 20px;
      max-height: 200px;
    }
  }
}

.not-bg {
  background: transparent !important;
}

.v-slide-group__wrapper {
  overflow: visible !important;
  // contain: contain !important;
  contain: layout !important;
}

@include responsive(t) {
  .v-slide-group__wrapper {
    overflow: visible !important;
    contain: layout !important;
  }
}

.card-slid-custom {
  position: relative;
  border-radius: 20px !important;
  margin: 0 25px 0 0px !important;
  box-shadow: $shadow_cart_org !important;
  background-color: transparent !important;

  &.shadow-none {
    box-shadow: none !important;
  }


  &:focus {

    &:before {
      opacity: .1 !important;
      background: $linear_fade_focus_sliders_bottom !important;
      border-radius: $border-radius-root !important;
    }
  }

}

.title-carousel {
  color: $txt_black;
  margin: 0 0 30px 25px;
  font-size: 18px;
}

/* ************** carousel product one ******************* */
.card-info {
  position: absolute;
  top: 170px;
  width: 100%;
  font-size: 14px;


}

/* ************** carousel product two ******************* */

.card-info-two {
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 15px;

  .cart-title {
    font-weight: bold !important;
    padding: 0;
  }

  .content {
    padding: 10px 0 0 !important;

  }
}

@include responsive(s) {
  .card-info-two {

    .cart-title {
      font-size: 14px !important;
    }

    .content {
      font-size: 12px !important;

    }
  }
}

.v-avatar {
  &.avatar-custom {
    z-index: 1 !important;
    position: absolute;
    top: 37%;
    right: 1%;
    box-shadow: $shadow_red;
  }

}


/* ********************* blog *********************** */

.cart-blog {
  background: none !important;
  box-shadow: none !important;
  width: calc(100% - 50px);

  .username {
    position: absolute !important;
    left: 90px;
    top: -25px;
    color: $color_primary;
    letter-spacing: 1px;
  }

  .title-blog {
    font-size: 1.7rem !important;
    font-weight: bolder !important;
  }

  .text-blog {
    line-height: 150%;
  }

  .info-blog {
    position: relative;
  }


}

.v-carousel__controls {
  background: linear-gradient(360deg, #00000091, transparent) !important;
  border-radius: 0 0 $border_radius_default $border_radius_default !important;
}

.carousel-blog {
  border-radius: $border_radius_default !important;
  box-shadow: $shadow_image_org !important;
  height: calc(100vh-50px);
}

.avatar-blog {
  position: absolute !important;
  width: 60px;
  height: 60px;
  top: -35px;
  left: 20px;
  border-radius: $border_radius_default !important;
  border: 2px solid $color_w !important;
  box-shadow: $shadow_cart_org !important;
  background: $color_secondary;

  img {
    width: 40px !important;
    height: auto !important;
  }
}

@include responsive(s) {
  .cart-blog {
    width: calc(100% - 20px);

    .username {
      font-size: $font_s_txt !important
    }

    .title-blog {
      font-size: $font_s_title !important;
    }

    .text-blog {
      font-size: $font_s_txt !important;

    }

    .footer-blog {
      font-size: $font_s_small !important;
    }

  }
}

// create blog
.input-title {
  .v-input__slot {
    box-shadow: none !important;
    border-radius: 20px 20px 0px 0px !important;
  }
}

.tiptop-custom {
  .v-card {
    box-shadow: none !important;
  }
}

/* ****************** profile ***************** */
.profile {
  .txt-1 {
    letter-spacing: 2px !important;
    padding: 5px 0px 3px;
  }

  .txt-2 {
    letter-spacing: 1px !important;
    font-size: 12px
  }

  .side-2 {
    min-height: calc(100vh);
    border-radius: $border_radius_default !important;

    .form {
      display: flex;
      flex-direction: column;
    }
  }

  .list-custom {
    padding: 0;
    width: 90%;
    margin: auto;
  }
}


/* ****************** login ******************** */
.login {

  .back {
    width: 500px;
    margin: auto;
    position: relative;
    max-width: 600px;
    // position: absolute;
    padding-left: 15px;
    top: 35px;
    font-size: 10px;
  }

  .header {
    margin-top: 50px;


    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
    }

    .logo {
      margin: auto;
      display: block;
      width: 250px;
      height: auto;
    }

    .welcome {
      text-align: center;
      font-weight: bold;
      font-size: 45px;
      letter-spacing: 4.5px !important;
      color: $txt_black;
    }

    .text {
      position: relative;
      top: -5px;
      color: $txt_black;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }

  }

  .v-input__slot {
    background: #F8F8F8 !important;
    box-shadow: none !important;
  }
}

@include responsive(s) {
  .login {

    .header {
      margin-top: 40px;

      .logo {
        width: 170px;
      }

      .welcome {
        font-size: 35px;

      }

      .text {
        font-size: 10px;

      }

    }


  }
}

/* ****************** category ******************** */
.category {

  width: calc(100% - 50px);
  margin: auto;

  .header {
    height: 250px;
    color: $color_w !important;

    @include animation('pulse-cat-dic 2s infinite');
  }

  .item {
    background-color: $color_gray_9 !important;
    box-shadow: none !important;
    height: 130px !important;

    .txt {

      font-size: 16px !important;

    }

    .active-txt {
      color: $color_w;
      font-size: 16px;

      .anim-click {
        opacity: 0.4;
        @include animation('pulse-cat-click 2s infinite');

        position: absolute;
        bottom: 25px;
        border-radius: 50px;
        width: 10px !important;
        height: 10px !important;
        left: 50% !important;
        transform: translate(-50%, 0) !important;


      }

      p {
        position: absolute;
        bottom: 15px;
        left: 50% !important;
        transform: translate(-50%, 0) !important;
        color: $bg_light;
        font-size: 10px;
        margin: 0 !important;
      }
    }

    &.primary {
      background-color: $color_secondary !important;
      box-shadow: -1px 5px 50px -15px $color_secondary !important;
      transition: 0.5s;

    }
  }

  .primary {
    background-color: transparent !important;
  }
}

@include responsive(min) {
  .category {
    width: calc(100% - 20px);

    .item {

      .txt {
        font-size: $font_s_txt !important;
      }

      .active-txt {
        font-size: $font_s_txt !important;

      }
    }

  }
}

/* ****************** product list ******************** */



/* ********************* product ********************** */
.product {
  border-radius: 0 !important;

  .carousel-product {
    border-radius: 0 !important;
    box-shadow: $shadow_image_org !important;
    height: calc(100vh-50px);
  }

  .v-carousel__controls {
    background: linear-gradient(360deg, #0000009a, transparent) !important;
    border-radius: 0 !important;
    height: 80px;
  }

  .product-card {
    position: relative;
    top: -20px;
    z-index: 1;
    background-color: $bg_light !important;
    padding: $pa-orj;
    box-shadow: none !important;

    .line-top {
      position: relative;
      top: -10px;
      width: 25%;
      max-width: 150px;
      height: 4px;
      background-color: $color_gray !important;
      margin: auto;
      margin-top: 15px;
    }

    .product-dic {
      z-index: 1 !important;
      position: absolute;
      box-shadow: 0px 4px 35px 0px rgb(198 19 19 / 80%);
      top: -15px;
      right: 45px;
      background-color: $color_red !important;
    }

    .product-description {
      font-size: 14px !important;
    }

    .v-card__title {
      // font-size: 1.25rem !important;
      font-weight: bold !important;
    }

    .txt-cat {
      font-size: $font_small !important;
    }
  }

  .txt-timeline {
    font-size: 14px !important;
  }

  .v-item-group-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .active-txt {
      width: 100%;
      height: 100%;
    }
  }

  .list-property {
    position: relative;
    height: 110px;
    overflow: hidden;

    .more {
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      width: calc(100% - 50px);
      color: $color_secondary;
      font-size: 300%;
      bottom: -20px;
    }

    &.open {
      height: auto;
      overflow: hidden;

      .more {
        display: none;
      }

      .bg-property {
        display: none !important;
      }
    }

    .bg-property {
      position: absolute;
      bottom: -6px;
      width: 100%;
      height: 100%;
      background: $linear_fade_content_bottom !important;

    }
  }

  .seller {
    display: flex;
    justify-content: space-between;


    .status {
      color: green;
    }
  }

  @include responsive(s) {
    .product-card {
      padding: $pa-orj-s;

      .v-card__title {
        font-size: 14px;
      }

      .v-card__text {
        font-size: 12px;
      }

      .product-description {
        font-size: 12px !important;
      }

      .txt-cat {
        font-size: $font_s_small !important;
      }
    }

    .px-s-res {
      padding: 10px 0 !important;
    }

    .txt-timeline {
      font-size: 10px !important;
    }

    .seller {
      font-size: 12px !important;
    }
  }

}
