/**************************** Background ******************************/
$bg_light : #F6F6F6;
$color_w: #ffffff;
$color_secondary: #0687AF;
$color_primary: #494949;
$color_gray: #D3D3D3;

/**************************** color txt ******************************/
$txt_black : #494949;
$txt_gray : #A7A7A7;

/**************************** padding - margin ******************************/
// $margin_parent_m : 0px;

/**************************** rounded *******************************/
$rounded_default : 20px;


/**************************** font size *******************************/
$font_small:14px;


/**************************** size image ******************************/
// $img_h : 300px;


/**************************** border ******************************/
$border_radius_default : 20px;

/**************************** height ******************************/
// $height-header-blog-sm : 80px;


/**************************** shadows ******************************/
$shadow_cart_org : 0px 4px 35px 0px rgb(0 0 0 / 20%);
$shadow_image_org : 0px 4px 35px 0px rgb(0 0 0 / 50%);
$shadow_red : 0px 4px 35px 0px rgb(198 19 19 / 80%);


/**************************** transition ******************************/
$transition_all_btn : all 0.1s ease-in-out;


/**************************** blur ******************************/
$backdrop_filter_header : blur(30px);

/**************************** linear ******************************/
$linear_fade_content_bottom : linear-gradient(#f6f6f600 , #f6f6f6b0 , #F6F6F6);
$linear_fade_content_top : linear-gradient(#F6F6F6 , #f6f6f6b0 , #f6f6f600);