/**************************** Background ******************************/
$color_w: #ffffff;
$color_secondary: #0687AF;

/**************************** color txt ******************************/
$txt_black : #494949;
$txt_gray : #A7A7A7;

/**************************** padding - margin ******************************/
// $margin_parent_m : 0px;


/**************************** font size *******************************/
$font_small:14px;


/**************************** size image ******************************/
// $img_h : 300px;


/**************************** border ******************************/
// $radius : 15px;

/**************************** height ******************************/
// $height-header-blog-sm : 80px;


/**************************** shadows ******************************/
$shadow_cart_org : 0px 4px 35px 0px rgb(0 0 0 / 15%);


/**************************** transition ******************************/
$transition_all_btn : all 0.1s ease-in-out;


/**************************** blur ******************************/
$backdrop_filter_header : blur(30px);
