/**************************** Background ******************************/
$bg_light : #F6F6F6;
$color_w: #ffffff;
$color_secondary: #0687AF;
$color_primary: #494949;
$color_gray: #81858B;
$color_gray_1: #d3d3d3;
$color_red: #F02D46;

/**************************** color txt ******************************/
$txt_black : #494949;
$txt_gray : #A7A7A7;

/**************************** padding - margin ******************************/
$pa-orj: 25px;


$pa-orj-s: 10px;

/**************************** rounded *******************************/
$rounded_default : 20px;


/**************************** font size *******************************/
$font_big_title:18px;
$font_title:16px;
$font_small:14px;

$font_s_title:14px;
$font_s_txt:12px;
$font_s_small:11px;


/**************************** size image ******************************/
// $img_h : 300px;


/**************************** border ******************************/
$border_radius_default : 20px;

/**************************** height ******************************/
// $height-header-blog-sm : 80px;


/**************************** shadows ******************************/
$shadow_cart_org : 0px 4px 35px 0px rgb(0 0 0 / 15%);
$shadow_image_org : 0px 4px 35px 0px rgb(0 0 0 / 15%);
$shadow_red : 0px 4px 35px 0px rgb(198 19 19 / 80%);


/**************************** transition ******************************/
$transition_all_btn : all 0.1s ease-in-out;


/**************************** blur ******************************/
$backdrop_filter_header : blur(30px);

/**************************** linear color ******************************/
$linear_fade_content_bottom : linear-gradient(#f6f6f600, #f6f6f6b0, #F6F6F6);
$linear_fade_content_top : linear-gradient(#F6F6F6, #f6f6f6b0, #f6f6f600);
$linear_fade_focus_sliders_bottom : linear-gradient(#ffffff00, #0688af93, #0687AF);
$linear_fade_focus_sliders_top : linear-gradient(#0687AF, #0688af93, #ffffff00);
